body {
  font-family:'Poppins', sans-serif;
  background: rgb(105, 142, 210);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.signin-container {
  background: #3939f5dd;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 350px;
  animation: fadeIn 0.8s ease;
}

.signin-container h3 {
  text-align: center;
  margin-bottom: 20px;
  color: #f8f8f8;
}

/* Inputs */
.signin-container input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.3s;
}

.signin-container input:focus {
  border-color: #6a5af9;
  box-shadow: 0 0 5px #6a5af9;
  outline: none;
}

/* Buttons */
.signin-container button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background: #6a5af9;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.signin-container button:hover {
  background: #5847e7;
  transform: translateY(-2px);
}

/* Smaller link buttons */
.link-btn {
  background: none;
  border: none;
  color: #6a5af9;
  cursor: pointer;
  text-decoration: underline;
  padding: 0;
  font-size: 14px;
}

.link-btn:hover {
  color: #4d3df7;
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
